.navbar-collapse {
 
    flex-grow: 0 !important;
  
}

.navbar-light .navbar-brand{
    color: #8AB353 !important;
    font-weight: bold;
}
.navbar-light .navbar-nav a{
color: rgba(0,0,0,.55);
padding: 0;
margin: 0;
padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    text-decoration: none;

}
