.productes .container{
    text-align: center;
   padding: 50px 0;
}
.productes .container p:first-child{
    color: #84AF4A;
    font-size: 17px;
    font-weight: 400;
}

.productes .container p:nth-of-type(2){
    color: #8f8d8d;
    margin-bottom: 40px;
}
.productes .container .parantdiv{

padding:  15px 50px;
}
.productes .container .parantdiv .box{
    border: 1px solid #ece9e9;
    padding-bottom: 30px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
 
}
.productes .container .parantdiv .box span{
    color: #84AF4A;

}
.productes .container .parantdiv .box .icons {
 transition: 1s ease-in-out;
 display: none;
 -webkit-transition: 1s ease-in-out;
 -moz-transition: 1s ease-in-out;
 -ms-transition: 1s ease-in-out;
 -o-transition: 1s ease-in-out;
 position: absolute;
 left: 50%;
 bottom: -3%;
 transform:translate(-50%,-50%) ;
 -webkit-transform:translate(-50%,-50%) ;
 -moz-transform:translate(-50%,-50%) ;
 -ms-transform:translate(-50%,-50%) ;
 -o-transform:translate(-50%,-50%) ;
}
.productes .container .parantdiv .box:hover .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.productes .container .parantdiv .box img{
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

        width: 100%;
        object-fit: contain;
   
}
.productes .container .parantdiv .box:hover img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.productes .container .parantdiv .box:hover span{
    display: none;
}

.productes .container .parantdiv .box .icons div{
    background-color: #84AF4A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

